html {
  position: relative;
}

.jumbotron {
  padding-top: 10rem;
  background-color: #ffffff;
  color: #3c4245;
}

.about {
  text-align: left;
  background-color: #e3f6f5;
}

.projects {
  background-color: #bae8e8;
  text-align: left;
}

.certifications {
  background-color: #f5f5f5;
}

.expedition_ppt {
  text-align: left;
  background-color: #e3f6f5;
}

.expedition {
  background-color: #bae8e8;
}

.salicyl_ppt {
  background-color: #e3f6f5;
}

.salicyl {
  background-color: #bae8e8;
}

.stroke_ppt {
  background-color: #e3f6f5;
}

.stroke {
  background-color: #bae8e8;
}

.diabetes_ppt {
  background-color: #e3f6f5;
}

.diabetes {
  background-color: #bae8e8;
}

.transaction_ppt {
  background-color: #e3f6f5;
}

.transaction {
  background-color: #bae8e8;
}

.conclusion {
  background-color: #f5f5f5;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #272343;
  padding-top: 30px;
}

footer p {
  color: #aaa;
  font-size: 1em;
}

footer p i {
  color: #272343;
}
